<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div class="pull-left no-padding width-20 sm-width-50 lg-width-34" style="background-color: #536ACC">  
        <a class="logo" href="index.html"><img src="assets/images/logo.png"></a>
      </div>
      <div class="pull-right no-padding bg-f4f4f4 width-80 sm-width-50 lg-width-66">
        <div class="nav navbar-right top-nav">
          <div class="dropdown">
            <a class="dropdown-toggle font-35" data-toggle="dropdown" aria-expanded="true"><a style="font-size: 15px !important; margin-right: 5px;">{{name}}</a><img src="assets/images/user-profile.png"></a>
            <ul class="dropdown-menu">
              <li>
               <a><i class="fa fa-fw fa-user"></i>Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>