<div class="container">
  <div class="main-login">
    <div class="text-center bottom-buffer-100"> <img src="assets/images/logo.png" style="max-height: 100px"> </div>
    <div (click)="hod()" class="login-secondary-btn text-center padding-10">
      <a class="text-admin-login text-transform">HOD</a>
      <span class="text-danger"></span>
    </div>
    <div class="login-primary-btn text-center padding-10 top-buffer-25">
      <a class="text-builder-login text-transform">Student</a>
      <span class="text-danger"></span>
    </div>
    <div (click)="professor()" class="login-resident-btn text-center padding-10 top-buffer-25">
      <a class="text-resident-login text-transform">Professor</a>
      <span class="text-danger"></span>
    </div>
  </div>
</div>
