<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">Attendance</h2>
  <p>You can view attendance of students for all Subjects</p>
</div>

<p-dataTable [value]="attendanceList" rowGroupMode="subheader" groupField="name" expandableRowGroups="true"
  [sortableRowGroup]="false" [responsive]="true"  resizableColumns="true"
   reorderableColumns="true">
  <p-header>Students Attendance</p-header>

  <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['name']}}</ng-template>


    <span *ngFor="let i of test">
        <p-column [header]="headers[i]">
            <ng-template let-col let-row="rowData" let-childs="rowData.subs" pTemplate="body">
              <span *ngIf = "childs[i]"> {{childs[i].field+"%"}}</span>
            </ng-template>
          </p-column>
    </span>

    <ng-template pTemplate="rowgroupfooter" let-car>
        <td colspan="6" style="text-align:right">Total Attendance</td>
        <td>{{calculateGroupTotal(car['name'])+"%" }}</td>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </ng-template>



</p-dataTable>