<div class="text-center form-heading">
    <h2 class="text-transform no-top-buffer">view subjects list</h2>
    <p>You can view, edit, delete or deactivate subjects in the list</p>
    <p-growl  [(value)]="msgs"></p-growl>
  </div>
  <form *ngIf="display" [formGroup]="AddSubjectForm" class="padding-left-right-50" (submit)="submit()">
    <p-dialog [closable]=false  header="{{status}} Subject" [(visible)]="display" modal="modal" width="500" [responsive]="true">
     
      <div>
  
      <div class="form-group has-feedback">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Subject ID" type="text" [formControl]="AddSubjectForm.controls['subjectId']" required
            maxlength="30" />
            <mat-error *ngIf="!AddSubjectForm.controls['subjectId'].valid">
                Subject Name is <strong>required</strong>
              </mat-error>
        </mat-form-field>
      </div>
      <hr>
      <div class="form-group has-feedback">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Subject Full Name" type="text" [formControl]="AddSubjectForm.controls['fullname']" required
            maxlength="50" />
            <mat-error *ngIf="!AddSubjectForm.controls['fullname'].valid">
                Subject Full Name is <strong>required</strong>
              </mat-error>
        </mat-form-field>
      </div>
  <hr>
  <div class="form-group has-feedback">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Subject Short Name" type="text" [formControl]="AddSubjectForm.controls['shortname']" required
        maxlength="30" />
        <mat-error *ngIf="!AddSubjectForm.controls['shortname'].valid">
            Subject Short Name is <strong>required</strong>
          </mat-error>
    </mat-form-field>
  </div>
<hr>
<div class="form-group has-feedback">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Internal Credits" type="number" [formControl]="AddSubjectForm.controls['totalmarks']" required
     min="10" max="100"/>
      <mat-error *ngIf="!AddSubjectForm.controls['totalmarks'].valid">
          Total Credits is <strong>required</strong>
        </mat-error>
  </mat-form-field>
</div>
<hr>
<div class="form-group has-feedback">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Semester" oninput="this.value=this.value.replace(/[^1-4,.]/g,'');" type="number" [formControl]="AddSubjectForm.controls['semester']" required
      min="1" max="4" />
      <mat-error *ngIf="!AddSubjectForm.controls['semester'].valid">
          Semester is <strong>required</strong>
        </mat-error>
  </mat-form-field>
</div>

    </div>
      <p-footer>
        <button type="submit" [disabled]="!AddSubjectForm.valid" pButton icon="fa-check" label="Submit"></button>
        <button type="button" pButton icon="fa-close" (click)="hideDialog()" label="Cancel"></button>
      </p-footer>
   </p-dialog>
  </form>
  
  <div class="overflow-x">
    <mat-form-field class="left-buffer-15 top-buffer-10">
      <span matPrefix class="fa fa-search text-898989">&nbsp;</span>
      <input matInput placeholder="Search" #gb type="text" pInputText style="line-height: 20px">
    </mat-form-field>
    <p-dataTable  #dt reorderableColumns="true" [value]="subjectsList" [rows]="10" [paginator]="true" [globalFilter]="gb" [pageLinks]="3"
      [rowsPerPageOptions]="[5,10,20]" [responsive]="true" exportFilename="subjectsList" resizableColumns="true">
      <p-header>
        <button type="button" (click)="showDialog()" pButton icon="fa-plus" label="ADD"></button>
      </p-header>
      <p-footer>
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:right"></button>
        </div>
      </p-footer>
      <p-column field="subjectName.fullName" header="Subject Name"  [sortable]="true"></p-column>
      <p-column field="subjectId" header="Subject Id" [sortable]="true"></p-column>
      <p-column field="semester" header="Semester"  [sortable]="true"></p-column>
      <p-column field="facultyName" header="Faculty"  [sortable]="true"></p-column>
      <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            Action
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">
            <a type="button"  (click)="updateSubject(car._id.$oid)"  pButton  icon="fa-edit"></a>
            <button style="margin-left: 1em" type="button" pButton (click)="deleteSubject(car._id.$oid, car.subjectName.fullName)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
    <ng-template pTemplate="emptymessage">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </ng-template>
    </p-dataTable>
  </div>