<div class="login-form">
  <div class="text-center bottom-buffer-100"> <img src="assets/images/logo.png" style="max-height: 100px"> </div>
  <p-messages [(value)]="msgs"></p-messages>
  <form [formGroup]="loginForm" (submit)="postLogin()">

    <mat-form-field class="input">
      <input  matInput placeholder="Username" [formControl]="loginForm.controls['username']">
    </mat-form-field>
    
    <mat-form-field class="input top-buffer-40">
      <input type="password"  matInput placeholder="Password" [formControl]="loginForm.controls['password']">
    </mat-form-field>

   
    <div>
      <button type="submit" class="btn btn-primary login-btn">submit</button>
    </div>

  </form>
</div>
