@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
body {font-family: 'Roboto', sans-serif;font-size: 14px; color: black !important;}


.border-right {
  border-right: 2px solid;
}
.mat-form-field{
  line-height: 0.9 !important;
}

.multbutton .caret{
  float: right !important;
  color: #3ab08b !important;
  height: 15px;
}
.multbutton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  min-width: 295px;
  text-align: left !important;
}

.defaulter{
  color: red;
}
.success{
  color: green;
}
.premium{
  color: blue;
}

.pointer{pointer-events: none; cursor: not-allowed;}

.no-top-buffer {margin-top: 0;}
.no-buffer-left-right {margin-left: 0;margin-right: 0;}
.top-buffer-6 {margin-top: 6px;}
.top-buffer-10 {margin-top: 10px;}
.top-buffer-20 {margin-top: 20px;}
.top-buffer-25 {margin-top: 25px;}
.top-buffer-40 {margin-top: 40px;}
.top-buffer-60 {margin-top: 60px;}
.top-buffer-80 {margin-top: 80px;}
.no-bottom-buffer {margin-bottom: 0;}
.bottom-buffer-10 {margin-bottom: 10px;}
.bottom-buffer-30 {margin-bottom: 30px;}
.bottom-buffer-100 {margin-bottom: 100px;}
.left-buffer-10 {margin-left: 10px;}
.left-buffer-15 {margin-left: 15px;}
.right-buffer-10 {margin-right: 10px;}
.right-buffer-16 {margin-right: 16px;}
.right-buffer-25 {margin-right: 25px;}

.no-padding {padding: 0;}
.no-padding-left-right {padding-left: 0;padding-right: 0;}
.padding-bottom-15 {padding-bottom: 15px;}
.padding-top-bottom-5 {padding-top: 5px;padding-bottom: 5px;}
.padding-top-bottom-10 {padding-top: 10px;padding-bottom: 10px;}
.padding-left-13 {padding-left: 13px !important;}
.padding-left-right-10 {padding-left: 10px;padding-right: 10px;}
.padding-left-right-15 {padding-left: 15px !important;padding-right: 15px !important;}
.padding-left-right-50 {padding-left: 50px;padding-right: 50px;}
.padding-10 {padding: 10px;}

.width-16 {width: 16%;}
.width-20 {width: 20%;}
.width-80 {width: 80%;}
.width-84 {width: 84%;}
.width-100 {width: 100%;}
.width-250px {width: 250px;}

.text-transform {text-transform: uppercase;}
.text-173859 {color: #173859 !important;}
.text-bcbcbc {color: #bcbcbc;}
.text-3ab08b {color: #3ab08b;}
.text-cede6d {color: #cede6d;}
.text-969696 {color: #969696;}
.text-898989 {color: #898989;}

.text-builder-login {color: #cede6d;}
.text-admin-login {color: #3ab08b;}
.text-resident-login { color: #99ffff;}

.link-fff, .link-fff:hover, .link-fff:active, .link-fff:focus {color: #fff;}

.bg-cede6d {background-color: #cede6d !important;}
.bg-153651 {background-color: #153651;}
.bg-173859 {background-color: #173859;}
.bg-ededed {background-color: #ededed;}
.bg-f4f4f4 {background-color: #f4f4f4;}
.bg-536ACC {background-color: #536ACC;}

.font-11 {font-size: 11px;}
.font-12 {font-size: 12px !important;}
.font-14 {font-size: 14px;}
.font-35 {font-size: 35px;}

.no-border {border: none;}

.overflow-x {overflow-x: auto;}

/****************** Theme **************/

label {
  font-weight: 400 !important;
  font-size: 12px;
}

.mat-radio-button {
  margin-top: 10px;
  /*margin-right: 32px;*/
}

.btn-primary {
  background-color: #cede6d;
  border-color: #cbd663;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.5s ease 0s;
  width: 250px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {background-color: #30618e;border-color: #30618e;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {color: #173859;background-color: #cede6d;border-color: #cede6d;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}
.btn-primary[disabled]:hover, .btn-primary[disabled]:focus {color: #173859 ;background-color: #cede6d;border-color: #cede6d;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}

.btn-secondary {
  background-color: #3ab08b;
  border-color: #3ab08b;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.5s ease 0s;
}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary.focus,.btn-secondary:active,.btn-secondary.active,.open > .dropdown-toggle.btn-primary {background-color: #30618e;border-color: #30618e;}
.btn-secondary:hover {color: #fff;background-color: #3ab08b;border-color: #3ab08b;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}
.btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus {color: #fff;background-color: #3ab08b;border-color: #3ab08b;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}

.login-primary-btn {
  background-color: transparent;
  border-color: #cede6d;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}
.login-primary-btn:hover,.login-primary-btn:focus,.login-primary-btn.focus,.login-primary-btn:active,.login-primary-btn.active,.open > .dropdown-toggle.btn-primary {background-color: #30618e;border-color: #30618e;}
.login-primary-btn:hover {background-color: #cede6d;border-color: #cede6d;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}
.login-primary-btn:hover .text-builder-login{color: #173859}

.login-secondary-btn {
  background-color: transparent;
  border-color: #3ab08b;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  color: #3ab08b;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.login-secondary-btn:hover,.login-secondary-btn:focus,.login-secondary-btn.focus,.login-secondary-btn:active,.login-secondary-btn.active,.open > .dropdown-toggle.btn-primary {background-color: #30618e;border-color: #30618e;}
.login-secondary-btn:hover {color: #fff;background-color: #3ab08b;border-color: #3ab08b;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}
.login-secondary-btn:hover .text-admin-login{color: #173859}

.login-resident-btn {
  background-color: transparent;
  border-color: #99ffff;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}
.login-resident-btn:hover,.login-resident-btn:focus,.login-resident-btn.focus,.login-resident-btn:active,.login-resident-btn.active,.open > .dropdown-toggle.btn-primary {background-color: #99ffff;border-color: #99ffff;}
.login-resident-btn:hover {background-color: #99ffff;border-color: #99ffff;box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);}
.login-resident-btn:hover .text-resident-login{color: #173859}

.navbar-default .navbar-nav > li > a {
  color: #ededed;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  display: inline-flex;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #cede6d;
}

.mat-input-placeholder, .mat-select-arrow, .mat-select-trigger {

  text-transform: uppercase;
}

/************* bootsrap change **************/

.navbar-inverse {
  border-color: transparent;
}

.navbar-default .navbar-brand {color: white;}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {background-color: transparent !important;}

.navbar-nav li {width: 100%;}

.borderless td, .borderless th, .borderless tbody{
  border: none !important;
  border-width: 0 !important;
}

/************** Accordian in sidebar navigation *************/

.sidebar-nav .list-group-item {
  background-color: #536ACC;
  border: none;
}

.sidebar-nav .list-group-item a{
  color: #ededed;
}

.sidebar-nav .panel {
  border: medium none;
  box-shadow: none;
}

.sidebar-nav .panel-body {
  padding: 0;
}

.sidebar-nav .list-group {
  margin-bottom: 0;
}

.sidebar-nav .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar-nav .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar-nav .panel-heading {
  background-color: #536ACC !important;
  color: #ededed !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}

.sidebar-nav .panel-heading:hover accordion-heading, .panel-heading:hover .caret {
  color: #cede6d;
}

.sidebar-nav .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.sidebar-nav .panel .list-group li a {
  margin-left: 35px;
}

.sidebar-nav .panel a {
  text-decoration-line: none;
  font-size: 12px;
  font-weight: 400;
}

.sidebar-nav .panel a:hover,  .sidebar-nav .panel a:active, .sidebar-nav .panel a:focus,
accordion-heading:hover, accordion-heading:active, accordion-heading:focus,
.caret:hover,  .caret:active, .caret:focus{
  color: #cede6d;
}

.sidebar-nav .panel .caret {
  float: right;
  margin-top: 8px;
  cursor: pointer;
}

.sidebar-nav accordion-heading {font-size: 13px;}
/************** end- Accordian in sidebar navigation *************/

/********** input fields ************/
.mat-input-container, .mat-select {
  width: 100%;
}

.mat-select-panel {
  margin-top: 10px;
}

.mat-select-trigger {
  font-size: 14px !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00a494 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #00a494 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00a494 !important;
}

.mat-select-placeholder, .mat-input-placeholder {
  font-size: 16px !important;
}

/*********** table **********/

thead {
  background-color: #3ab08b;
  color: #fff;
  /*text-transform: uppercase;*/
}

th, td {
  padding-top: 15px !important;
  font-size: 11px;
  padding-left: 36px !important;
  padding-right: 36px !important;
  font-weight: 400;
}

th {padding-bottom: 15px !important;}

.mat-sort-header-button {text-transform: uppercase;}

/****************** Theme - End **************/

/************* sidebar navigation **********/

.sidebar-nav {
  background-color: #536ACC;
  height: 100%;
  margin-top: 50px;
  position: fixed;
  width: 20%;
  /*overflow-x: visible;
      overflow-y: auto;*/
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main-content {
  margin-top: 50px;
  width: 80%;
}

.logo img {
  height: 57px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.custom-navbar {
  background-color: #536ACC;
  border: none;
  border-radius: 0;
}

.login-btn {
  margin-top: 30px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #153651;
}

/*#wrapper {
    padding-left: 225px;
}
.side-nav {
    background-color: #173859;
    border: medium none;
    border-radius: 0;
    bottom: 0;
    left: 225px;
    margin-left: -225px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 40px;
    position: fixed;
    top: 51px;
    width: 225px;
}

.side-nav li {
    width: 100%;
}

.side-nav li:hover, .side-nav li:active, .side-nav li:focus{
    background-color: #153651 !important;
}

.side-nav li a {color: #cede6d !important;}*/

.top-nav {
  margin-right: 15px;
}
.top-nav a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}
/*.navbar-brand img {
    width: 140px;
}*/

.navbar .navbar-header button.collapsed {
  background: #00a494 none repeat scroll 0 0;
}
.navbar .navbar-header button {
  border-color: transparent;
  border-radius: 0;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  height: 50px;
  margin: 0;
  text-transform: uppercase;
  /*width: 100%;*/
}

.login-img {
  background-color: #536ACC;
  background-image: url("/assets/images/login-bacground-new.png");
  background-position: 0 -60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-input {
  background-color: transparent !important;
  border-color: currentcolor currentcolor #bcbcbc;
  border-style: none none solid;
  border-width: 0 0 2px;
  /*color: #cede6d;*/
  height: 30px;
  width: 100%;
}

.alert-danger {
  background-color: transparent;
}

.main-login {
  height: 270px;
  left: 50%;
  margin: -250px auto auto -150px;
  position: absolute;
  top: 50%;
  width: 250px;
}

.login-form{
  height: 400px;
  left: 50%;
  margin: -200px auto auto -150px;
  position: absolute;
  top: 40%;
  width: 300px;
}
.login-form .input{
  width: 300px !important;
  color: white !important;
}
.login-form .input .mat-input-placeholder{
  color: white !important ;
}

.pointer{
  cursor: pointer;
}

.form-heading {
  background-color: #f4f4f4;
  padding-bottom: 45px;
}

.form-heading h2 {
  color: #173859;
  font-size: 24px;
  font-weight: 400;
}
.form-heading p{
  color: #898989;
  font-size: 11px;
}

/**************** edit - delete icon **************/

.table-icons {
  color: #969696;
  cursor: pointer;
  font-size: 15px;
}

.table-icons:hover {
  color: #00a494;
  /*font-size: 20px;
  transition: 0.3s;*/
}

.table-row:hover {
  background-color: #ebf7f3;
  transition: 0.5s;
}

.table-row {font-size: 12px;}

/*********************** media query *******************************/

@media (max-width: 479px) {
  .cu-hide {
    display: none !important;
  }
  .col-cu-12,
  .col-cu-11,
  .col-cu-10,
  .col-cu-9,
  .col-cu-8,
  .col-cu-7,
  .col-cu-6,
  .col-cu-5,
  .col-cu-4,
  .col-cu-3,
  .col-cu-2,
  .col-cu-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-cu-11 {
    width: 91.63%
  }
  .col-cu-10 {
    width: 83.3%
  }
  .col-cu-9 {
    width: 74.97%
  }
  .col-cu-8 {
    width: 66.64%
  }
  .col-cu-7 {
    width: 58.31%
  }
  .col-cu-6 {
    width: 49.98%;
  }
  .col-cu-5 {
    width: 41.65%
  }
  .col-cu-4 {
    width: 33.32%
  }
  .col-cu-3 {
    width: 24.99%
  }
  .col-cu-2 {
    width: 16.66%
  }
  .col-cu-1 {
    width: 8.33%
  }
  .col-cu-offset-12 {
    margin-left: 100%;
  }
  .col-cu-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-cu-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-cu-offset-9 {
    margin-left: 75%;
  }
  .col-cu-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-cu-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-cu-offset-6 {
    margin-left: 50%;
  }
  .col-cu-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-cu-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-cu-offset-3 {
    margin-left: 25%;
  }
  .col-cu-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-cu-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-cu-offset-0 {
    margin-left: 0;
  }
  .no-margin-top-cu {
    margin-top: 0 !important;
  }
  .top-cu-15 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1210px) and (min-width: 769px) {

  .lg-width-34 {width: 34%;}
  .lg-width-66 {width: 66%;}

  .sidebar-nav {
    width: 34%;
  }
  .main-content {
    width: 66%;
  }
}

@media (min-width: 1281px) {
  .container {width: 1280px;} /* perposly done for large screen */

  .hd-width-23 {width: 23%;}
  .hd-width-30 {width: 30%;}
  .hd-width-47 {width: 47%;}
  .hd-width-50 {width: 50%;}
  .farmer-form-btn {bottom: 30px;position: fixed;right: 15px;}
  .footer-text {bottom: 10px;position: fixed;width: 100%;}
}

/* make sidebar nav vertical */
@media (max-width: 768px) {

  .sm-hidden-float {float: none !important;}
  .sm-bottom-buffer-30 {margin-bottom: 30px;}

  .sm-width-50 {width: 50%;}

  .dropdown {float: right;}
  .dropdown-menu {margin: 1px -112px 0;}

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .login-form {
    left: 0;
    margin: 40px auto;
    position: relative;
  }

  .main-login {
    left: 0;
    margin: 40px auto;
    position: relative;
  }

  .login-img {
    background-size: inherit;
  }

  .header {
    position: inherit;
    z-index: 0;
  }

  /*navigation*/
  .sidebar-nav {
    height: auto;
    margin-top: 0;
    position: inherit;
    width: 100%;
  }
  .main-content {
    margin-top: 0;
    width: 100%;
  }

  .navbar {margin-top: 20px;}

  .navbar-nav {
    padding-left: 25px;
    width: 100%;
  }
}

@media (max-width: 1337px) {
  /*.sidebar-nav{
          max-height: 430px;
          overflow-x: visible;
          overflow-y: auto;
      }*/
}
