<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">view faculty list</h2>
  <p>You can view, edit or delete faculty in the list</p>
  <p-growl  [(value)]="msgs"></p-growl>
</div>
<form *ngIf="display" class="padding-left-right-50" #facultyForm="ngForm" (submit)="submit(facultyForm.value); facultyForm.reset();">
  <p-dialog [closable]=false [contentStyle]="{'overflow':'visible'}" header="{{status}} Faculty" [(visible)]="display" modal="modal" width="500" [responsive]="true">
<div>

    <div class="form-group has-feedback">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Faculty Name" oninput="this.value=this.value.replace(/[^A-Z,a-z ,.]/g,'');" type="text" name="facultyName" name="facultyName" [(ngModel)]="facultyName" required
          maxlength="30" />
          <mat-error *ngIf="!facultyName">
              Faculty Name is <strong>required</strong>
            </mat-error>
      </mat-form-field>
    </div>
    <hr>
    <div class="form-group has-feedback">
      <p-multiSelect [options]="subjectsList" [showToggleAll]=false  defaultLabel="Select Subjects" name="subjects"
        [(ngModel)]="subjects" required></p-multiSelect>
    </div>
<hr>
    <div class="form-group has-feedback">
      <label style="font-size: 15px; margin-top:10px">Type of Faculty</label>
      <br>
    <mat-radio-group [(ngModel)]="role" name="role" required>
        <mat-radio-button value="Internal Faculty">Internal Faculty</mat-radio-button>
        <mat-radio-button value="External Faculty">External Faculty</mat-radio-button>
      </mat-radio-group>
    </div>

    
  </div>
    <p-footer>
      <button type="submit" pButton icon="fa-check"  [disabled]="!facultyForm.valid" label="Submit"></button>
      <button type="button" pButton icon="fa-close" (click)="hideDialog()" label="Cancel"></button>
    </p-footer>

  </p-dialog>
</form>
<div class="overflow-x">
  <mat-form-field class="left-buffer-15 top-buffer-10">
    <span matPrefix class="fa fa-search text-898989">&nbsp;</span>
    <input matInput placeholder="Search" #gb type="text" pInputText style="line-height: 20px">
  </mat-form-field>
  <p-dataTable #dt reorderableColumns="true" [value]="facultyList" [rows]="10" [paginator]="true" [globalFilter]="gb" [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,20]" [responsive]="true" exportFilename="subjectsList" resizableColumns="true">
    <p-header>
      <button type="button" (click)="showDialog()" pButton icon="fa-plus" label="ADD"></button>
    </p-header>
    <p-footer>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:right"></button>
      </div>
    </p-footer>
    <p-column field="facultyName" header="Faculty Name" [sortable]="true"></p-column>
    <p-column field="subjects" header="Subject" [sortable]="true"></p-column>
    <p-column field="role" header="Type" [sortable]="true"></p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
          Action
      </ng-template>
      <ng-template let-car="rowData" pTemplate="body">
          <a type="button"  (click)="updateFaculty(car._id.$oid)"  pButton  icon="fa-edit"></a>
          <button style="margin-left: 1em" type="button" pButton (click)="deleteFaculty(car._id.$oid)" icon="fa-trash"></button>
      </ng-template>
  </p-column>
  <ng-template pTemplate="emptymessage">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</ng-template>
  </p-dataTable>
</div>