<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">view students list</h2>
  <p>You can view, edit, delete or deactivate students in the list</p>
  <h6 *ngIf="success" class="text-center text-3ab08b top-buffer-20">{{successmessage}}</h6>
</div>


<div class="overflow-x">
  <mat-form-field class="left-buffer-15 top-buffer-10">
    <span matPrefix class="fa fa-search text-898989">&nbsp;</span>
    <input matInput placeholder="Search" #gb type="text" pInputText style="line-height: 20px">
  </mat-form-field>
  <p-dataTable #dt reorderableColumns="true" [value]="studentList" [rows]="10" [paginator]="true" [globalFilter]="gb" [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,20]" [responsive]="true" exportFilename="studentsList" resizableColumns="true">
    <p-header>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
      </div>
    </p-header>
    <p-column field="name" header="Name"  [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="body">
            <span [ngClass]="{'defaulter': car.is_defaulter == true}">{{car[col.field]}}</span>
        </ng-template>
    </p-column>
    <p-column field="roll_no" header="Roll Number" [sortable]="true"></p-column>
    <p-column field="contact" header="Contact"  [sortable]="true"></p-column>
    <p-column *ngIf="role == 'hod'" styleClass="col-button">
      <ng-template pTemplate="header">
          Action
      </ng-template>
      <ng-template let-car="rowData" pTemplate="body">
          <a type="button"  [routerLink]="['/hod/updatestudent']" pButton [queryParams]="{id:car._id.$oid}" icon="fa-edit"></a>
          <button style="margin-left: 1em" type="button" pButton (click)="DeleteStudent(car._id.$oid)" icon="fa-trash"></button>
      </ng-template>
  </p-column>
  <ng-template pTemplate="emptymessage">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</ng-template>
  </p-dataTable>
</div>