<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">{{subjectName}} attendance</h2>
  <p>You can record attendance of students for {{subjectName}}</p>
</div>

<form>
  <table align="center" class="bottom-buffer-10">
    <tr>
      <td>
        <h5>No. of Hours:</h5>
      </td>
      <td>
        <p-spinner size="30" name="hours" [(ngModel)]="hours" id="hours" [step]="0.5" [min]="0" [max]="5" [readonly]="true"></p-spinner>
      </td>
    </tr>
  </table>



  <p-pickList [source]="absentList" [target]="presentList" sourceHeader="Absent Students" targetHeader="Present Students"
    [responsive]="true" dragdrop="true" [metaKeySelection]="false" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
    <ng-template let-car pTemplate="item">
      <div class="ui-helper-clearfix">
        <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
        <span>{{car.studentName}}</span>
        <span style="font-size:14px;float:right;">{{car.roll_no}}</span>
      </div>
    </ng-template>
  </p-pickList>
  <table align="center" class="bottom-buffer-10">
    <tr>
      <td>
          <button mat-raised-button color="primary" (click)="submit()" [disabled]="!hours || !presentList.length">Submit</button>
      </td>
    </tr>
  </table>

 
</form>