<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">{{subjectName}} Marks</h2>
  <p>You can create marks template and record marks for {{subjectFullName}}</p>
  <p-growl [(value)]="msgs" life="5000"></p-growl>
</div>


<div style="margin:3em" *ngIf="flag == false">
  <button mat-fab color="accent" (click)="onAddProperty()" style="margin-bottom:2em">Add</button>
  <!-- <button (click)="onAddProperty()" pButton icon="fa-handshake-o" style="margin-bottom:2em">Add</button> -->
  <form [formGroup]="searchForm" (submit)="postTemplate()">
    <div formArrayName="properties">
      <div *ngFor="let prop of searchForm.get('properties').controls; let i=index">
        <div formGroupName="{{i}}" class="row">
          <div class="col-cu-12 col-xs-6 col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name of criteria" formControlName="name" required maxlength="30" />
            </mat-form-field>
          </div>
          <div class="col-cu-12 col-xs-6 col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Category" formControlName="category" required>
                <mat-option value="test">
                  Test
                </mat-option>
                <mat-option value="assignment">
                  Assignment
                </mat-option>
                <mat-option value="project">
                  Project
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-cu-12 col-xs-6 col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Credits" formControlName="total" required maxlength="30" />
            </mat-form-field>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <button *ngIf="searchForm.value.properties.length > 0" mat-raised-button color="primary" [disabled]="!searchForm.valid">Submit</button>
  </form>

</div>


<div *ngIf="flag == true">
  <p-dataTable [value]="marksTemp">
      <p-header>Marks Template</p-header>
    <p-footer *ngIf="marksTemp.length > 0">
      <p style="margin-left: 85%; padding-top:1.1em;" >
        {{"Total Credits: "+totcheck}}
      </p>
    </p-footer>
    <p-column field="name" header="Name of Criteria"></p-column>
    <p-column field="category" header="Category"></p-column>
    <p-column field="total" header="Credits"></p-column>
    <ng-template pTemplate="emptymessage">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </ng-template>
  </p-dataTable>
  <div style="margin: 3em;">
    <button pButton type="button" class="ui-button-info" (click)="flag = !flag" icon="fa-edit" iconPos="left" label="Replace"></button>
    <button style="margin-left: 2em;" routerLink="/professor/setmarks/" [queryParams]="{id:subjectName}" class="ui-button-success" pButton type="button"  icon="fa-gavel" iconPos="left" label="Record Marks"></button>
  </div>
</div>