<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">{{subjectId}} attendance</h2>
  <p>You can view attendance of students for {{subjectId}}</p>
  <p-growl  [(value)]="msgs"></p-growl>
</div>
<p-dataTable  #dt reorderableColumns="true" [value]="attendanceList" [rows]="15" [paginator]="true" [globalFilter]="gb" [pageLinks]="3"
[rowsPerPageOptions]="[10,15,20]" [responsive]="true" exportFilename="attendanceList" resizableColumns="true">
<p-header>
  <a routerLink="/professor/recordattendance/" [queryParams]="{id:subjectId}" pButton icon="fa-handshake-o" label="&nbsp;Record Attendance"></a>
</p-header>
<p-footer>
  <div class="ui-helper-clearfix">
    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:right"></button>
  </div>
</p-footer>
<!-- <p-column field="name" header="Student Name"  [sortable]="true"></p-column> -->
<p-column field="name" header="Name"  [sortable]="true">
    <ng-template let-col let-car="rowData" pTemplate="body">
        <span [ngClass]="{'defaulter': car.status == 0}">{{car[col.field]}}</span>
    </ng-template>
</p-column>
<p-column field="attended" header="Hours Attended" [sortable]="true"></p-column>
<p-column field="counted" header="Hours Counted" [sortable]="true"></p-column>
<p-column field="percent" header="Percentage" [sortable]="true"></p-column>

<ng-template pTemplate="emptymessage">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</ng-template>
</p-dataTable>