<div class="text-center form-heading">
    <h2 class="text-transform no-top-buffer">Update Student</h2>
    <p>Update Student Details in the Database</p>
    <h6 *ngIf="success" class="text-center text-3ab08b top-buffer-20">{{successmessage}}</h6>
    <p-growl [(value)]="msgs"></p-growl>
</div>

<form *ngIf="showForm" [formGroup]="AddStudentForm" class="padding-left-right-50" (submit)="updateStudent()">
    
        <div class="row top-buffer-60 no-buffer-left-right">
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['studentName'].valid && AddStudentForm.controls['studentName'].touched}">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Student Name" type="text" name="studentName" [formControl]="AddStudentForm.controls['studentName']"
                            required maxlength="30" />
                        <mat-error *ngIf="!AddStudentForm.controls['studentName'].valid && AddStudentForm.controls['studentName'].touched">
                            <p class="text-danger">Please Enter Student Name </p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['username'].valid && AddStudentForm.controls['username'].touched}">
                    <mat-form-field class="example-full-width">
                            <i matPrefix class="fa fa-user" aria-hidden="true"> &nbsp;</i>
                        <input matInput placeholder="Username" type="text" name="username" [formControl]="AddStudentForm.controls['username']" maxlength="30"
                        />
                        <mat-error *ngIf="!AddStudentForm.controls['username'].valid && AddStudentForm.controls['username'].touched">
                            <p class="text-danger">Please Enter Student's Username </p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['password'].valid && AddStudentForm.controls['password'].touched}">
                    <mat-form-field class="example-full-width">
                            <i matPrefix class="fa fa-lock" aria-hidden="true"> &nbsp;</i>
                        <input matInput placeholder="Password" type="password" name="password" [formControl]="AddStudentForm.controls['password']"
                            maxlength="30" />
                        <mat-error *ngIf="!AddStudentForm.controls['password'].valid && AddStudentForm.controls['password'].touched">
                            <p class="text-danger">Please Enter Student's Password </p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row top-buffer-60 no-buffer-left-right">
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['rollno'].valid && AddStudentForm.controls['rollno'].touched}">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Roll Number" type="text" name="rollno" [formControl]="AddStudentForm.controls['rollno']" maxlength="10"
                        />
                        <mat-error *ngIf="!AddStudentForm.controls['rollno'].valid && AddStudentForm.controls['rollno'].touched">
                            <p class="text-danger">Please Enter Student's Roll Number'</p>
                        </mat-error>
                    </mat-form-field>
                </div>
    
    
            </div>
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['prn'].valid && AddStudentForm.controls['prn'].touched}">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="PRN" type="text" name="prn" [formControl]="AddStudentForm.controls['prn']" maxlength="10" />
                        <mat-error *ngIf="!AddStudentForm.controls['prn'].valid && AddStudentForm.controls['prn'].touched">
                            <p class="text-danger">Please Enter Student's PRN</p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['email'].valid && AddStudentForm.controls['email'].touched}">
                    <mat-form-field class="example-full-width">
                            <i matPrefix class="fa fa-envelope" aria-hidden="true"> &nbsp;</i>
                        <input matInput placeholder="email" type="email" name="email" [formControl]="AddStudentForm.controls['email']" maxlength="40"
                        />
                        <mat-error *ngIf="!AddStudentForm.controls['email'].valid && AddStudentForm.controls['email'].touched">
                            <p *ngIf="!AddStudentForm.controls['email'].pattern" class="text-danger">Please Enter Valid Email</p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
    
    
        </div>
    
        <div class="row top-buffer-60 no-buffer-left-right">
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['contact'].valid && AddStudentForm.controls['contact'].touched}">
                    <mat-form-field class="example-full-width">
                            <span matPrefix>+91 &nbsp;</span>
                        <input matInput placeholder="contact" type="tel" name="contact" [formControl]="AddStudentForm.controls['contact']" maxlength="10"
                        />
                        <mat-error *ngIf="!AddStudentForm.controls['contact'].valid && AddStudentForm.controls['contact'].touched">
                            <p class="text-danger">Please Enter Valid Contact Number</p>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="col-cu-12 col-xs-6 col-md-4">
                <div class="form-group has-feedback" [ngClass]="{'has-error':!AddStudentForm.controls['contact'].valid && AddStudentForm.controls['course'].touched}">
    
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="course" style="width: 200px !important" [formControl]="AddStudentForm.controls['course']">
                            <mat-option *ngFor="let x of courseList" name="course" [value]="x.courseId" >
                                {{ x.courseName }}
                            </mat-option>
                            <mat-error *ngIf="!AddStudentForm.controls['course'].valid && AddStudentForm.controls['course'].touched">
                                    <p class="text-danger">Please Enter Student's course</p>
                                </mat-error>
                        </mat-select>
                    </mat-form-field>
    
    
    
                </div>
            </div>
    
            <div class="col-cu-12 col-xs-6 col-md-4">
    
            </div>
        </div>
    
        <div class="row text-center top-buffer-80 no-buffer-left-right">
            <div class="form-group">
                <button type="submit" [class.disabled]="buttonIsDisabled == true " [class.pointer]="buttonIsDisabled == true " class="btn btn-primary top-buffer-6 text-transform right-buffer-25"
                    [disabled]="!AddStudentForm.valid">submit</button>
                <span class="text-danger"></span>
            </div>
        </div>
    
    </form>