<app-header> </app-header>
<div class="container-fluid" style="margin-top: -1px">
  <div class="row">
    <div class="no-padding-left-right pull-left sm-hidden-float">
      <div class="sidebar-nav">
        <div class="navbar navbar-default custom-navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand text-transform">BenkYou</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse test-nav">
            <ul class="nav navbar-nav width-100 top-buffer-20">
              <accordion [showArrows]="true">

                <li>

                  <accordion-group>
                    <accordion-heading>
                      <i class="fa fa-graduation-cap"> </i>
                      <span class="left-buffer-10">Students</span>
                    </accordion-heading>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <a routerLink="/professor">View Students</a>
                      </li>
                    </ul>
                  </accordion-group>

                </li>
                <li>

                  <accordion-group>
                    <accordion-heading>
                      <i class="fa fa-id-card-o"></i>
                      <span class="left-buffer-10">Attendance</span>
                    </accordion-heading>
                    <ul class="list-group" *ngFor="let x of sub">
                      <li *ngIf="x.name" class="list-group-item">
                        <a routerLink="/professor/attendance/" [queryParams]="{id:x.name}">{{x.name}}</a>
                      </li>
                    </ul>
                  </accordion-group>

                </li>

                <li>

                  <accordion-group>
                    <accordion-heading>
                      <i class="fa fa-balance-scale"></i>
                      <span class="left-buffer-10">Marks</span>
                    </accordion-heading>
                    <ul class="list-group" *ngFor="let x of sub">
                      <li *ngIf="x.name" class="list-group-item">
                        <a routerLink="/professor/markstemplate/" [queryParams]="{id:x.name}">{{x.name}}</a>
                      </li>
                    </ul>
                  </accordion-group>

                </li>
              </accordion>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="main-content no-padding-left-right pull-right sm-hidden-float">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>