<div class="text-center form-heading">
  <h2 class="text-transform no-top-buffer">{{subjectName}} Marks</h2>
  <p>You can record marks for {{subjectFullName}}</p>
  <p-growl [(value)]="msgs" life="5000"></p-growl>
</div>


<form [formGroup]="searchForm" (submit)="postMarks()">
  <p-dialog [closable]=false [contentStyle]="{'overflow':'visible'}" header="{{studentNameUpdate}}'s Marks" [(visible)]="display"
    modal="modal" width="500" [responsive]="true">
    <div formArrayName="marks">
      <div *ngFor="let prop of searchForm.get('marks').controls; let i=index">
        <div formGroupName="{{i}}">
          <mat-form-field class="example-full-width">
            <input type="number" (keydown.space)="$event.preventDefault()" [max]=markstemplate[i].total matInput placeholder="{{markstemplate[i].name}}"
              formControlName="marks" maxlength="3" />
            <span matSuffix>/{{markstemplate[i].total}}</span>
          </mat-form-field>
        </div>
        <hr>
      </div>
    </div>
    <p-footer>
      <button type="submit" pButton icon="fa-check" [disabled]="!searchForm.valid" label="Submit"></button>
      <button type="button" pButton icon="fa-close" (click)="display = false;" label="Cancel"></button>
    </p-footer>
  </p-dialog>
</form>


<p-dataTable [value]="studentList">
  <!-- <p-header>Marks Template</p-header> -->
  <p-column field="name" header="Name"></p-column>
  <p-column field="">
    <ng-template pTemplate="header">
      Marks
    </ng-template>
    <ng-template let-car="rowData" pTemplate="body">
      <!-- <p *ngIf="car.credits"> {{car.credits?.totalMarks}} / {{car.credits?.totalMaxMarks}} </p> -->
      <span *ngIf="car.credits">
        <span *ngFor="let i of car.credits">
          <p *ngIf="i.subject == subjectName">
            <!-- <span [ngClass]="{'defaulter': i.totalMarks/i.totalMaxMarks*100 < 40}">{{i.totalMarks}}</span> -->
          <b>  <span *ngIf="i.totalMarks/i.totalMaxMarks*100 < 40" class="defaulter">{{i.totalMarks}}</span>
            <span *ngIf="i.totalMarks/i.totalMaxMarks*100 < 100 && i.totalMarks/i.totalMaxMarks*100 > 90" class="success">{{i.totalMarks}}</span>
            <span *ngIf="i.totalMarks/i.totalMaxMarks*100 >= 40 && i.totalMarks/i.totalMaxMarks*100 <= 90">{{i.totalMarks}}</span>
            <span *ngIf="i.totalMarks/i.totalMaxMarks*100 == 100" class = "premium"><i class="fa fa-trophy">&nbsp;{{i.totalMarks}} </i></span>
            /{{i.totalMaxMarks}}</b></p>
        </span>
      </span>
    </ng-template>
  </p-column>

  <p-column styleClass="col-button" header="Record Marks">
    <ng-template let-car="rowData" pTemplate="body">
      <button type="button" pButton icon="fa-edit" (click)="updateMarks(car._id.$oid, car.name)"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</p-dataTable>